.list__body{
  display: flex;
  flex-direction: column;
  gap: 5px;
  padding: 50px;
}

.list__item{
  display: flex;
  padding: 15px;
  max-height: 70px;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(245, 245, 245);
  overflow: hidden;
}

.list__img{
  max-width: 120px;
  overflow: hidden;
}


.list__title{
  text-transform: uppercase;
}

.list__color{
  font-size: 12px;
}

.list__price{
  color:red;
}